@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --gray: #E7E9F0;
  --purple: #5C2E90;
  --lightpurple: #9C85BD;
  --darkgray: #C4C4C4;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
